{% extends "MopaBootstrapBundle::base_less.html.twig" %}
{% block title %}Photo Challenge!{% endblock title %}
{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/" class="navbar-brand">Title</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="navbar-text" >{{ 'layout.logged_in_as'|trans({}, 'FOSUserBundle') }} <a  href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li><a href="{{ path('challenge_me') }}"> Challenge me !</a></li>
                    <li>{{ render(controller('ChallengeBundle:Player:joinChallengeForm')) }}</li>

                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block page_header %}
    <div></div>
{% endblock page_header %}