{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    <h2>Top scoring users</h2>
    <table>
        {% for user in users %}
            <tr><td>{{ user.getUsername }}:</td><td>{{ user.getScore }}</td></tr>
        {% endfor %}
    </table>
    <h2>Challenge stats</h2>
   <table>
       <tr><td>Challenges created:</td><td>{{ stat[0] }}</td></tr>
       <tr><td>Banned:</td><td>{{ stat[1] }}</td></tr>
       <tr><td>Uploading stage:</td><td>{{ stat[2] }}</td></tr>
       <tr><td>Voting stage:</td><td>{{ stat[3] }}</td></tr>
       <tr><td>Finished:</td><td>{{ stat[4] }}</td>
   </table>
    <h2>Participation stats</h2>
   <table>
       <tr><td>Participations:</td><td>{{ stat[5] }}</td></tr>
       <tr><td>Uploaded:</td><td>{{ stat[7] }} ({{ 100*stat[7]/stat[5] }}%)</td></tr>
       <tr><td>Not uploaded:</td><td>{{ stat[6] }} ({{ 100*stat[6]/stat[5] }}%)</td></tr>
   </table>
   <h2>Theme stats:</h2>
   <table>
       <tr><td>Amount:</td><td>{{ stat[8] }}</td></tr>
       <tr><td>Approved:</td><td>{{ stat[10] }} ({{ 100*stat[10]/stat[8] }}%)</td></tr>
       <tr><td>Unapproved:</td><td>{{ stat[9] }} ({{ 100*stat[9]/stat[8] }}%)</td></tr>
    </table>
    <h2>Vote stats</h2>
    <table>
        <tr><td>Amount:</td><td>{{ stat[11] }}</td></tr>
    </table>
    <h2>User stats</h2>
    <table>
        <tr><td>Amount:</td><td>{{ stat[12] }}</td></tr>
    </table>
    <h2>Photo stats</h2>
    <table>
        <tr><td>Amount:</td><td>{{ stat[13] }}</td></tr>
    </table>
{% endblock %}