{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    <h2>{{ challenge.getTheme.getName }}</h2>

    {% if user is not null %}

        {% block foot_script %}
        <script>
                if('{{ user }}'.length>1){
                    $.fancybox.open(
                        {
                            href : '#{{ user }}'
                        }
                    );
                }
        </script>
        {% endblock %}
    {% endif %}
    {% for player in players %}
        <div class="vote-entry"
             style="">
            Votes: <b>{{ player.getVoteCount }}</b><br/>
            <a class="fancybox" href="#{{ player.getUser }}" >
                <div class="crop" style="background-image: url('{{ vich_uploader_asset(player.getImage, 'image') }}')">
                </div>
            </a>
            <div id="{{ player.getUser }}" style="display: none">
                <img src="{{ vich_uploader_asset(player.getImage, 'image') }}" alt="{{ player.getUser }}" style="margin-top:5px;width:100%" /><br/>
                <div style="text-align: center;width:100%">
                    Votes: <b>{{ player.getVoteCount }}</b><br/>
                    <div class="fb-like" data-href="http://group4-studio.projektai.nfqakademija.lt/show/{{ challenge.getId  }}/{{ player.getUser.getUsername }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                    <div class="fb-comments"  data-href="http://group4-studio.projektai.nfqakademija.lt/show/{{ challenge.getId  }}/{{ player.getUser.getUsername }}" data-numposts="5" data-colorscheme="light"></div>
                </div>

            </div>
        </div>
    {% endfor %}
    <div style="clear:both"></div>
{% endblock %}