{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    Challenge theme <strong>"{{ theme }}"</strong>
    <div class="col-md-6">
        <div class="stopwatch" data-timer="{{ timeLeft }}"></div>

        <script>
            var timeLeft = {{ timeLeft }}-1;
            if(timeLeft<86400){
                $(".stopwatch")
                    .TimeCircles(
                    { time: {
                        Days: { show: false }
                    }       });
            }

            if(timeLeft<3600){
                $(".stopwatch")
                    .TimeCircles(
                        { time: {
                            Hours: { show: false }
                        }       });
            }
            $(".stopwatch").TimeCircles().rebuild();
            $(".stopwatch")
                .addListener(function(unit,value,total){
                        if(total == 0){
                            $( ".controls").find(".btn").attr("disabled", "disabled").html("Time's over!");
                            console.log("Time's over!");
                        }else if(total == 10){
                            $(".stopwatch")
                                    .TimeCircles({ time: {Seconds: { color: '#ff0000' } } });
                        }
                        $(".stopwatch").TimeCircles({circle_bg_color: "#000000"});
                });
            $(".stopwatch").TimeCircles({ count_past_zero: false});
            console.log("endstartstop");
        </script>
    </div>
    <form class="form-horizontal" action="{{ path('show_challenge',{'eventId': eventId}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}