{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    <h2>{{ challenge.getTheme.getName }}</h2>

    {% if user is not null %}

        {% block foot_script %}
        <script>
                if('{{ user }}'.length>1){
                    $.fancybox.open(
                        {
                            href : '#{{ user }}'
                        }
                    );
                }
        </script>
        {% endblock %}
    {% endif %}
    {% for player in players %}
        <!--TODO: Stylesheets-->
        <div class="vote-entry"
             style="background-color:#911821;margin-top:10px;margin-right:10px;border:1px solid #DDDDDD;float:left;padding:5px;max-width: 515px;box-shadow: 0px 0px 10px#000000;text-align: center ">
        Votes: <b>{{ player.getVoteCount }}</b><br/>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('vote', {'playerToChallengeId': player.getId }) }}" style="font-size:15pt"><img src=""/>todo: upvote.png</a>
        {% endif %}
            <a class="fancybox" href="#{{ player.getUser }}" >
            <img src="{{ vich_uploader_asset(player.getImage, 'image') }}" alt="{{ player.getUser }}" style="margin-top:5px" /></a>
            <div id="{{ player.getUser }}" style="display: none">
                <img src="{{ vich_uploader_asset(player.getImage, 'image') }}" alt="{{ player.getUser }}" style="margin-top:5px" />
                <div class="fb-comments" data-href="http://group4-studio.projektai.nfqakademija.lt/show/{{ challenge.getId }}/{{ player.getUser }}" data-numposts="5" data-colorscheme="light"></div>
            </div>

        </div>
    {% endfor %}
{% endblock %}