{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    <h2>{{ challenge.getTheme.getName }}</h2>

    {% if user is not null %}

        {% block foot_script_extend %}
        <script>
                if('{{ user }}'.length>1){
                    $.fancybox.open(
                        {
                            href : '#{{ user }}'
                        }
                    );
                }
        </script>
        {% endblock %}
    {% endif %}
    {% for player in players %}
        <div class="vote-entry col-md-3 well"
             style="padding:10px;
             {% for vote in player.getVotes %}
                 {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                     {% if vote.getUser.getId == usr.getId %}
                             background: rgba(0,255,0,0.4);
                     {% endif %}
                 {% endif %}
             {% endfor %}
             ">
            {% if is_granted('ROLE_ADMIN') %}
                Votes: <b>{{ player.getVoteCount }}</b><br/>
            {% endif %}
            <a class="fancybox" href="#{{ player.getUser }}" >
                <div class="crop" style="background-image: url('{{ vich_uploader_asset(player.getImage, 'image') }}')">
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a type="button" class="btn btn-warning" href="{{ path('vote', {'playerToChallengeId': player.getId }) }}">Vote!</a>
                {% endif %}
            </a>
            <div id="{{ player.getUser }}" style="padding:5px;display: none">
                <div style="width:auto;float:left">
                    <img src="{{ vich_uploader_asset(player.getImage, 'image') }}" alt="{{ player.getUser }}" style="" />
                </div>
                <div style="padding:10px;overflow:hidden">
                    <div style="margin-bottom:10px">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a type="button"  style="" class="btn btn-warning" href="{{ path('vote', {'playerToChallengeId': player.getId }) }}">Vote!</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            Votes: <b>{{ player.getVoteCount }}</b><br/>
                        {% endif %}
                    </div>
                    <div id="fb-things" style="width:555px">
                        <div class="fb-like" data-href="http://group4-studio.projektai.nfqakademija.lt/show/{{ challenge.getId  }}/{{ player.getUser.getUsername }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        <div class="fb-comments"  data-href="http://group4-studio.projektai.nfqakademija.lt/show/{{ challenge.getId  }}/{{ player.getUser.getUsername }}" data-numposts="5" data-colorscheme="light"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div style="clear:both"></div>
{% endblock %}